
.header{
    background-color: aqua;
    height: 140px;
    width: 980px;
    font-size: large;
    margin-bottom: 15px;
    
}

.sidebar{
    background-color: rgb(253, 208, 8);
    height: 450px;
    width: 270px;
    font-size: large;
    margin-right: 15px;
    
}

.footer{
    background-color: rgb(206, 34, 34);
    height: 70px;
    width: 980px;
    font-size: large;
    margin-top: 15px;
}

.content{
    background-color: rgb(32, 245, 32);
    height: 450px;
    width: 690px;
    font-size: large;
    float: left;
    display: flex;
    margin-left: 290px;
    
}